body{
    background-color: #00adb5;"
}
h1{
    color: #eeeeee;
    font-style: italic;
}
h2{
    color: #eeeeee;
}
h3{
    color:#eeeeee;
}

hr{
    border-style: none ;
    border-top: dotted;
    border-color: bisque;
    border-width: 1px;
    width: 40%;
}
